<section class="sidebar">
	<!-- div class="user-panel" ng-include="'/template/menu/user.html'"></div -->
	<!-- div ng-include="'/template/menu/searchForm.html'"></div -->
	<ul class="sidebar-menu">
		<li class="header">NAVEGAÇÃO PRINCIPAL</li>
		<li>
			<a ui-sref="dashboard">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
		<li>
			<a ui-sref="selling">
				<i class="fa fa-exclamation"></i> <span>Realizar venda</span>
			</a>
		</li>
		<li>
				<a ui-sref="buying">
					<i class="fa fa-money"></i> <span>Realizar compra</span>
				</a>
			</li>
		<li class="treeview">
		   <a href>
		        <i class="fa fa-cube"></i> <span>Produto</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
				<a ui-sref="registerProduct"><i class="fa fa-plus"></i> Cadastrar</a>
			</li>
			<li>
				<a ui-sref="searchProduct"><i class="fa fa-search"></i> Procurar</a>
			</li>
		  </ul>
		</li>
		<li class="treeview">
			<a href>
				<i class="fa fa-user"></i> <span>Cliente</span>
				<i class="fa fa-angle-left pull-right"></i>
		 </a>
			<ul class="treeview-menu">
				<li>
					<a ui-sref="newCustomer"><i class="fa fa-plus"></i> Cadastrar</a>
				</li>
				<li>
					<a ui-sref="searchCustomer"><i class="fa fa-search"></i> Procurar</a>
				</li>
			</ul>
	 </li>
	 <li class="treeview">
			<a href>
				<i class="fa fa-truck"></i> <span>Fornecedor</span>
				<i class="fa fa-angle-left pull-right"></i>
		 </a>
			<ul class="treeview-menu">
					<li>
						<a ui-sref="newFornecedor"><i class="fa fa-plus"></i> Cadastrar</a>
					</li>
					<li>
						<a ui-sref="searchFornecedor"><i class="fa fa-search"></i> Procurar</a>
					</li>
			</ul>
	 </li>
		<li class="header">TECNOLOGIAS</li>
		<li>
			<a href="https://cloud.google.com/sql/?hl=pt-br" target="_blank">
				<i class="fa fa-circle-o text-red"></i> <span>Google cloud</span>
			</a>
		</li>
		<li>
			<a href="http://expressjs.com" target="_blank">
				<i class="fa fa-circle-o text-yellow"></i> <span>Express</span>
			</a>
		</li>
		<li>
			<a href="https://angularjs.org" target="_blank">
				<i class="fa fa-circle-o text-aqua"></i> <span>Angular</span>
			</a>
		</li>
		<li>
			<a href="https://nodejs.org" target="_blank">
				<i class="fa fa-circle-o text-green"></i> <span>Node</span>
			</a>
		</li>
	</ul>
</section>
